body {
	transition: background-color 0.5s ease-in;
}

p {
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000
}

h2 {
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000
}

.container {
	visibility: hidden;
	transition: opacity 0.25s ease-in;
	opacity: 0;
}

.float {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
 	background-image: url("./images/tree.jpg");
 	background-size: cover;
 	border-radius: 10px;
 	height: 600px;
 	width: 450px;
}

.list {
	transform: translate(0px, 30px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	margin: 5px;
	padding: 0;
	text-shadow:
   -0.5px -0.5px 0 #000,  
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
     0.5px 0.5px 0 #000;
}

.link-tail {
	opacity: 0.5;
	transition: 0.5s
}

.text {
	color: yellow;
	font-family: 'Space Mono', monospace;
	font-style: italic;
	word-wrap: break-word;
} 

.dark-text {
	color: rgb(139, 35, 139);
	font-family: 'Space Mono', monospace;
	font-style: italic;
	word-wrap: break-word;
	text-shadow:
   -0.5px -0.5px 0 #000,  
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
     0.5px 0.5px 0 #000;
} 

.switch {
	float: right;	
}

.switch:hover {
	text-decoration: underline;
}

.back-fade {
	background-color: rgba(0, 0, 0, 0.438);
	border-radius: 5px;
	box-shadow: 1em;
}

.title {
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 10px;
}

.text h2 {
	display: inline-block;
	margin: 0px;
	margin-right: 20px;
}

.text p {
	display: inline-block;
	margin: 0px;
}

.tooltip {
	text-align: center;
	background-color: rgba(75,75,75,0.6);
	border-radius: 5px;
	width: max-content;
	margin: auto;
	margin-top: 70%;
	max-width: 100%;
	transition: opacity 0.5s;
	
}

.tooltip p {
	padding: 6px;
	font-family: 'Space Mono', monospace;
	font-style: italic;
}

.list a {
	text-decoration: none;
	color: yellow;
}

.list a:hover {
	text-decoration: underline;
}

a:hover .link-tail {
	opacity: 1;
	transition: 0.5s;
}

@media only screen and (max-width: 480px) {
	html {
		font-size: 13px;
	}

	.float {
		width: 80vw;
		height: 120vw;
		min-width: 200px;
	}

	.tooltip {
		margin-top: 30%;
	}

	#toggle {
		border-radius: 30px;
		background-color: rgba(145, 145, 145, 0.582);
		padding: 10px;
	}
}

@media only screen and (max-height: 600px) {
	html {
		font-size: 12px;
	}

	.float {
		width: 53.33vh;
		height: 80vh;
	}

	#toggle {
		border-radius: 30px;
		background-color: rgba(145, 145, 145, 0.582);
		padding: 10px;
	}
}